@model OnlineMarking.Models.Record
@{
    ViewBag.Title = "Detail";
}
@Styles.Render("~/Content/myCss.css")
@Styles.Render("~/Content/css")
<body class="bodyD">
    <div class="divD">
        <iframe class="iframeOne" name="frameMain" src="/@Model.filePath"></iframe>
        
    </div>
    <div>
        <table class="table" style="width:85%;">
            <tr>
                <td>@Html.Label("Student Name")</td>
                <td>@Html.TextBoxFor(model => model.studentName, new { @Value = Model.studentName, @Readonly = "true" })</td>
            </tr>
            <tr>
                <td>@Html.Label("Marks")</td>
                <td>@Html.TextBoxFor(model => model.marks, new { @Value = Model.marks, @Readonly = "true" })</td>
            </tr>
            <tr>
                <td>@Html.Label("Feedback")</td>
                <td>@Html.TextAreaFor(model => model.feedback, new { @Value = Model.feedback, @Readonly = "true", @class = "TextD" })</td>
            </tr>
        </table>
    </div>
</body>
