@model OnlineMarking.Models.Record
@{
    ViewBag.Title = "Mark";
}
@Styles.Render("~/Content/myCss.css")
@Styles.Render("~/Content/css")
<h1>@ViewBag.Title</h1>
<table class="table" style="margin-left:auto">
    <tr>
        <td colspan="2">
            <iframe class="iframeOne" name="frameMain" src="/@Model.filePath"></iframe>
        </td>
    </tr>

    @using (Html.BeginForm("Mark", "Lecturer", FormMethod.Post))
    {
        
    <tr>
        <td>
            @Html.LabelFor(model => model.studentName)
        </td>
        <td>
            @Html.TextBoxFor(model => model.studentName, new { @Value = Model.studentName, @Readonly = "true" })
            @Html.TextBoxFor(model => model.UserId, new { @Value = Model.UserId, @Readonly = "true",@type = "hidden" })
            @Html.TextBoxFor(model => model.filePath, new { @Value = Model.filePath, @Readonly = "true", @type = "hidden" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.fileName)
        </td>
        <td>
            @Html.TextBoxFor(model => model.fileName, new { @Value = Model.fileName, @Readonly = "true"})
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.marks)
        </td>
        <td>
            @Html.DropDownListFor(model => model.marks, ViewData["marks"] as IEnumerable<SelectListItem>, " ")
        </td>
    </tr>
    <tr class="thD">
        <td>
            @Html.LabelFor(model => model.feedback)
        </td>
        <td>
            @Html.TextAreaFor(model => model.feedback,new { @class = "TextD" })
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            
            <input id="submit" type="submit" class="btn btn-default" value="Submit" />
        </td>
    </tr>

   
    }
</table>
@Html.ValidationSummary(false,"", new { @class = "text-danger" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
