@model OnlineMarking.Models.Record
@{
    ViewBag.Title = "Mark";
}
@Styles.Render("~/Content/myCss.css")
@Styles.Render("~/Content/css")
<h1>@ViewBag.Title</h1>
<table class="table" style="margin-left:auto">
    <tr>
        <td colspan="2">
            <iframe class="iframeOne" name="frameMain" src="/@Model.filePath"></iframe>
        </td>
    </tr>
    @Html.ValidationSummary(true)
    @using (Html.BeginForm("Mark", "Lecturer", FormMethod.Post))
    {
    <tr>
        <td>
            @Html.LabelFor(model => model.studentName)
        </td>
        <td>
            @Html.TextBoxFor(model => model.studentName, new { @Value = Model.studentName, @Readonly = "true" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.fileName)
        </td>
        <td>
            @Html.TextBoxFor(model => model.fileName, new { @Value = Model.fileName, @Readonly = "true"})
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.marks)
        </td>
        <td>
            @Html.DropDownListFor(model => model.marks, ViewData["marks"] as IEnumerable<SelectListItem>, " ")
        </td>
    </tr>
    <tr class="thD">
        <td>
            @Html.LabelFor(model => model.feedback)
        </td>
        <td>
            @Html.TextAreaFor(model => model.feedback,new { @class = "TextD" })
            
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input id="submit" type="submit" class="btn btn-default" value="Submit" />
        </td>
    </tr>

   
    }
</table>
<span asp-validation-for="mark">@Html.ValidationMessage("markNull")</span>
<span asp-validation-for="feedback">@Html.ValidationMessage("feedback")</span>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
