@model OnlineMarking.Models.Record[]
@{
    ViewBag.Title = "RecordList";
}
@Styles.Render("~/Content/myCss.css")
@Styles.Render("~/Content/css")
<div><h1>Submission List</h1></div>
<table class="table">
        <tr><th>student</th><th>fileName</th><th>mark</th></tr>
        @foreach (var r in @Model)
        {
            if (r.marks == null)
            {
            <tr>
                <td>@r.studentName</td>
                <td>@r.fileName</td>
                <td>
                    @using (Html.BeginForm("RecordList", "Lecturer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" id="recordid" name="recordid" value="@r.ID" />
                        <input id="button" type="submit" value="mark" />
                    }
                </td>
            </tr>
            }
            else { continue; }
        }
</table>
